.ds-flex{
    display: flex !important;
}

.jc-center{
    justify-content: center !important;
}

.ai-center{
    align-items: center !important;
}

.dir-col{
    flex-direction: column !important;
}

.pd-20{
    padding: 20px !important;
}
