.topside-header{
    min-height: 4vh;
    background-color: #f7f7f7;
}
.infobar{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding-top: 10px;
    font-size: 12px;
    .leftside-infobar{
        display: flex;
        gap: 10px;
        .mailsection{
            display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
            padding: 0 10px;
            border-right: 1px solid rgba($color: #888888, $alpha: 0.7);
        }
    .shipping-info{
        display: grid;
        place-content: center;
    }
    }
    .rightside-infobar{
        display: flex;
        justify-content: center;
        gap: 10px;
        .socials{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;  
            padding: 0 10px;
            border-right: 1px solid rgba($color: #888888, $alpha: 0.7);
        }
        .languageselect{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;  
            padding: 0 10px;
            border-right: 1px solid rgba($color: #888888, $alpha: 0.7);
            select{
                border: none;
                outline: none;
                background-color: transparent;
            } 
        }

    }
}
.under-header{
    display: flex;
    margin: auto;
    padding-top: 20px;
    font-size: 12px;
    max-width: 1400px;
    flex-direction: column;
    .logoside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        .logo{
            width: 20%;
        }
        .logoside-btns{
            width: 50%;
        }
        .logoside-btns ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 95px;
            font-size: 20px;
            font-weight: 500;
           
        }
        .logoside-cart{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:15px;
            font-size: 24px;
            i{
                position: relative;
                .amount{
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: #7fad39;
                    font-size: 8px;
                    color: white;
                    display: grid;
                    place-items: center;
                    border-radius: 50%;
                    right: -10px;
                    top: -8px;
                }
            }
            p{
                font-size: 12px;
                padding-left: 20px;
            }

        }
    }
}
.searchside{
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        padding-top: 20px;
        .all-departments{
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            line-height: 30px;
            color: white;
            background-color: #7fad39;
            width: 300px;
            height: 50px;
           font-size: 18px;
           font-weight: 600;
           position: relative;
           
        }

}



.dropdown-departments{
    width: 300px;
    position: absolute;
    overflow: hidden;
    height: 0%;
    border: 1px solid rgba($color: #888888, $alpha: 0.2);
    transition: .3s linear;
    ul li{
        font-size: 18px;
        padding: 10px;
    }
}

.active{
    height: 48vh !important; 
    
}

.fakesearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    border: 1px solid rgba($color: #888888, $alpha: 0.2);
    padding-left:10px;
    width: 50%;
    i{
        padding: 0 10px;
        border-right: 1px solid rgba($color: #888888, $alpha: 0.5);
    }
    input{
        outline: none;
        border: none;
    }
    button{
        outline: none;
        border: none;
        background-color: #7fad39; 
        color: white; 
        font-size: 16px;
        width: 100px;
        height: 50px;
        font-weight: 600;

    }
}

.searchcontact{
    display: flex;
    gap: 20px;
    i{
        color: #7fad39;
        background-color: #f7f7f7;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }
    p{
        color: #888888;
    }
}